.header-container {
  background-color: #111111;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
}

hr {
  background-color: gray;
  height: 1px;
  border: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    gap: 1rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .titlelogo {
    width: 2rem;
    height: 2rem;
    margin-top: 0rem;
  }
}
